/* regole universali css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  content: "";
  display:block;
  clear: both;
}


.wrapper{
  max-width: 1080px;
  margin: auto;
}

.small.wrapper{
  max-width: 850px;
}

/* regole universali css */

/* regole per colori di BG */

.cerulean{
  background-color: #F4F9FD;
}

.white {
  background-color: #FFF;
}
/* /egole per colori di BG */

/* regole per bottoni */

a.btn {
  min-width: 100px;
  padding: 8px 4px;
  font-size: 12px;
  color: #FF7A59;
  border: 1px  solid #FF7A59;
  border-radius: 5px;
  margin: 0 6px;
  text-align: center;
  text-decoration: none;
}

a.btn.plain{
  color: #FFF;
  background-color: #FF7A59;
}

a.btn.plain.big{
  margin: 0 0;
  padding: 20px 8px;
  min-width: 200px;
}

.col .btn.plain.big{
  display:inline-block;
  padding: 20px 4px;
  min-width: 150px;
}

/* /regole per bottoni */

/* typo */

a {
  font-size: 14px;
  font-weight: bold;
  color: #75838f;
}

h1{
  font-size: 40px;
  color: #33475b;
  font-weight: 700;
}

p{
  font-size: 12px;
  font-weight: 700;
  color: #5a6776;
  line-height: 25px;
}

h2{
  font-size: 30px;
  color: #33475b;
  font-weight: 700;
}

/* /typo */



/* regole per sezione header */

.nav-bar.cerulean{
  padding: 25px 0;
  border-bottom: 2px solid grey;
}

header ul, header li, header a{
  display: inline-block;
}

header a{
  text-decoration: none;
  color: #556877;
  margin: 0 3px;
}

.nav-bar.cerulean .left-part{
  width: 69%;
}

.nav-bar.cerulean .right-part{
  width: 30%;
  text-align: right;
}

.nav-search{
  color: #08A7BF;
}

.nav-bar.white{
  padding: 25px 0;

}

.nav-bar.white .left-part{
  width: 60%;
  display: inline-block;
}

.nav-bar.white .right-part{
  width: 39%;
  text-align: right;
}

section.hero{
  background-color: #FFF2EE;
  background-image: url(../img/jumbotron.png);
  height: 620px;
  background-position: 100% -14%;
  background-repeat: no-repeat;
}

.hero-wrapper{
  max-width: 1080px;
  margin: auto;
  position: relative;
  height: 620px;
}

.position-box{
  width: 45%;
  position: absolute;
  top: 10%;
}

.position-box > p{
  margin: 20px 0;
}

div.separatore{
  padding: 30px 0px;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  background-color: #afebe4;

}

/* /regole per sezione header */

/* regole sezione main */

.wide-container{
  background-color: #F5F8FA;
  text-align: center;
}

.wide-container > .wrapper > img{
  height: 180px;
  margin-top: 45px;
}

.wide-container > .wrapper > p{
  margin: 25px 0;
}

main .row{
  max-width: 1080px;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  border: 3px solid grey;

}

.col.left{
  width: 30%;
  padding: 50px 100px;
  float: left;
}

.col.right{
  width: 70%;
  padding: 50px 100px 0 0;
  float: left;
  text-align: left;
}

.col > img {
  width:150px;
  margin-bottom: 40px;
}

.col h3{
  display: inline-block;

}

.col p{
  margin: 25px 0;
}

.col hr{
  display: inline-block;
  margin-left: 50px;
  border: solid 1px black;
  width:400px;
  vertical-align: middle;
}


/* /regole sezione main */
