/* regole universali css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  content: "";
  display:block;
  clear: both;
}


.wrapper{
  max-width: 1080px;
  margin: auto;
}

.small.wrapper{
  max-width: 850px;
}

/* regole universali css */



/* regole per bottoni */

a.btn {
  min-width: 60px;
  padding: 8px 4px;
  font-size: 12px;
  color: #FF7A59;
  border: 1px  solid #FF7A59;
  border-radius: 5px;
  margin: 0 6px;
  text-align: center;
  text-decoration: none;
}

a.btn.plain{
  color: #FFF;
  background-color: #FF7A59;
}

a.btn.plain.big{
  margin: 0 0;
  padding: 20px 8px;
  min-width: 200px;
}

.col .btn.plain.big{
  display:inline-block;
  padding: 20px 4px;
  min-width: 150px;
}

/* /regole per bottoni */

/* typo */

a {
  font-size: 14px;
  font-weight: bold;
  color: #75838f;
}

h1{
  font-size: 40px;
  color: #33475b;
  font-weight: 700;
}

p{
  font-size: 12px;
  font-weight: 700;
  color: #5a6776;
  line-height: 25px;
}

h2{
  font-size: 28px;
  color: #33475b;
  font-weight: 700;
}

.wide-container.blue h2, .wide-container.blue p{
  color: #fff;
}
h3{
  color: #33475b;
}

hr{
  display: inline-block;
  border: solid 1px #899397;
  background-color: #899397;
}

span{
  color: #33475b;
  font-weight: bold;
}
/* /typo */



/* regole per sezione header */

.nav-bar.cerulean{
  padding: 25px 0;
  border-bottom: 2px solid grey;
}

header ul, header li, header a{
  display: inline-block;
}

header a{
  text-decoration: none;
  color: #556877;
  margin: 0 3px;
}

.nav-bar.cerulean .left-part{
  width: 69%;
  line-height: 20px;
}

.nav-bar.cerulean .right-part{
  width: 30%;
  text-align: right;
  line-height: 20px;
}

.nav-search{
  color: #08A7BF;
}

.nav-bar.white{
  padding: 25px 0;

}

.nav-bar.white .left-part{
  width: 60%;
  display: inline-block;
  vertical-align: middle;
}

.nav-bar.white .right-part{
  width: 39%;
  text-align: right;
  line-height: 34px;
  vertical-align: middle;
}

section.hero{
  background-color: #FFF2EE;
  background-image: url(../img/jumbotron.png);
  height: 620px;
  background-position: 100% -14%;
  background-repeat: no-repeat;
}

.hero-wrapper{
  max-width: 1080px;
  margin: auto;
  position: relative;
  height: 620px;
}

.position-box{
  width: 45%;
  position: absolute;
  top: 10%;
}

.position-box > p{
  margin: 20px 0;
}

div.separatore{
  padding: 30px 0px;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  background-color: #afebe4;

}

/* /regole per sezione header */

/* regole sezione main */

.wide-container{
  background-color: #F5F8FA;
  text-align: center;
}

.wide-container > .wrapper > img{
  height: 180px;
  margin-top: 45px;
}

.wide-container > .wrapper > p{
  margin: 25px 0;
}

main .row{
  max-width: 1080px;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;

}

.col {
  float: left;
}
.col.hor.left{
  width: 30%;
  padding: 50px 100px;
}

.col.hor.right{
  width: 70%;
  padding: 50px 100px 0 0;
  text-align: left;
}

.col > img {
  width:150px;
  margin-bottom: 40px;
}

.col h3{
  display: inline-block;
  margin-bottom: 25px;

}

.col p{
  margin: 25px 0;
}

.col.hor hr{
  margin-left: 50px;
  width:400px;
  vertical-align: middle;
}

.checker{
  color: #FF7A59;
  margin: 0px 15px;
}

span .checker:first-child{
  margin: 0px 15px 0px 0px ;
}

.row.clear{
  background-color: transparent;
  box-shadow: 0 0 0;
  padding-bottom: 50px;
  margin-bottom: 0;
}

.col.vert{
  width: calc((100% - 100px) / 3 );
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);


}

.col.vert.left, .col.vert.center{
 margin-right: 50px;
}

.col.vert.left > img, .col.vert.center  > img, .col.vert.right > img{
  margin: 30px 0px;
  height: 120px;
}

.col.vert.left hr, .col.vert.center hr, .col.vert.right hr{
  width:75%;
  margin: auto;
  margin-bottom: 30px;
}

.col.vert.left p, .col.vert.center p, .col.vert.right p{
  padding: 0 25px;
  margin-bottom: 40px;
}

.col.vert.left h3, .col.vert.center h3, .col.vert.right h3{
  display: block;
}

span.checklist{
  text-align: left;
  display: block;
  padding-left: 35px;
}

.col.vert.left .btn, .col.vert.center .btn, .col.vert.right .btn{
  margin: 50px 0;
}

.wide-container.blue h2{
  padding-top: 40px;
}

.wide-container.blue p{
  padding-bottom: 40px;
}

.wide-container.blue .row {
  padding:0;
}

.wide-container.blue .row.bottom {
  padding-bottom: 150px;
}


.col.vert.tab{
  width: calc(100% / 4);
  border-radius: 0px;
  background-color: transparent;
  box-shadow: 0 0 0;
  padding-bottom:20px;
}

.col.vert.tab.top{
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.col.vert.tab{
  border-right: 1px solid white;
}

.col.vert.tab.top:last-child, .col.vert.tab:last-child{
  border-right: 0px;
}

.wide-container.blue span{
  display: block;
  padding: 5px 0;
  color: white;
  font-size: 12px;
}

.wide-container.blue span.big{
  font-size: 35px;
  font-weight: bold;
}

.wide-container.blue img{
  display: block;
  height: 60px;
  padding: 12px 0;
  margin: auto;
}

.wide-container.white .row{
  padding: 50px 0 0 0;
  margin-bottom: 0;
  box-shadow: 0 0 0;

}

.wide-container.white .col.vert.left{
  width: 25%;
  margin-right:250px;
  padding-left: 30px;
  text-align: left;
  box-shadow: 0 0 0;



}

.wide-container.white .col.vert.right{
  width: 50%;
  padding-top: 0 0;
  box-shadow: 0 0 0;

}

.wide-container.white .col.vert.right img{
  width: calc((100% / 4 ) - 4px);
  vertical-align: middle;
  height: 15px;
  padding: 0 3px;
  margin: 10px 0px;

}

#purple{
  height: 45px;
}

#crowd{
  height: 35px;
}

#subaru{
  height:50px;
}

#wistia{
  height:20px;
}
#classpass{
  height:50px;
}

#wmware{
  height: 30px;
}

span.high-light{
  font-weight: bold;
  font-size: 18px;
}

h2.high-light{
  font-size: 40px;
  text-align: left;
  padding-left: 30px;
}

#col-left-finale {
  padding:  0px;
  width: 40%;
  margin-right: 0px;
}

#col-left-finale p{
  padding: 0;
  margin-bottom: 20px;
}

#col-left-finale .btn.plain.big{
  margin: 10px 0;
}

#col-rightt-finale {
  padding:  0px;
  width: 50%;
}

#woman{
  width:60%;
  height:60%;
  margin-left: 70%;
}

/* /regole sezione main */

/* regole per colori di BG */

.cerulean{
  background-color: #F4F9FD;
}

.white {
  background-color: #FFF;

}

.blue{
  background-image: linear-gradient(45deg,#00a4bd,#00bda5)
}
/* /egole per colori di BG */
